*.class   
*.jar       

/logs/     
/*/target/
/*/.settings/
/*/.classpath
/*/.project
/bin/
.settings
*.mode1v3
*.pbxuser
*.swp
*.svn
*.project
*.classpath
*.mymetadata
*.log
.idea/
*/target
*.iml
*.epoch
*.st
*.lock
*.lck
